<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tetravalstartups.dingdong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".modules.passbook.RedeemActivity"></activity>
        <activity android:name=".auth.SetupProfileActivity" />
        <activity android:name=".modules.profile.view.activity.FollowingActivity" />
        <activity android:name=".modules.player.PlayerActivity" />
        <activity android:name=".modules.profile.view.activity.PublicProfileActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".modules.profile.view.activity.PlayVideoActivity" />
        <activity
            android:name=".modules.record.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.create.DDCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.create.SoundDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.record.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.create.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComingSoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.create.sound.SoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.create.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.create.ScreenCamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.passbook.BanksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.passbook.PassbookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.subscription.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.profile.view.activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.profile.view.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.profile.view.activity.FollowersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.CodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.PhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://289251737969246:LgXGlEFkNl765nF8VeGrCz45Hdw@ddcreators" />
    </application>

</manifest>